.register .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.registration-form {
  background: white;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
  margin-top: 50px;
}

.registration-form h1 {
  text-align: center;
  color: #333;
  margin-bottom: 2rem;
}

.input-field {
  margin-bottom: 1.5rem;
}

.input-field label {
  display: block;
  margin-bottom: 0.5rem;
  color: #666;
}

.input-field input {
  width: 100%;
  padding: 0.8rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1rem;
}

.input-field input:focus {
  outline: none;
  border-color: #4caf50;
}

.registration-form button {
  width: 100%;
  padding: 1rem;
  background: black;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1.1rem;
  cursor: pointer;
  transition: background 0.3s ease;
}

.registration-form button:hover {
  background: rgb(224, 222, 222);
  color: black;
}
